name: "qBittorrent Client"
description: "The Qbittorrent⁠ project aims to provide an open-source software alternative to µTorrent."
version: "4.6.5"
slug: qbittorrent
stage: stable
#stage: experimental
advanced: true
url: https://hub.docker.com/r/linuxserver/qbittorrent
init: false
arch:
  - amd64
  - aarch64
environment:
  PUID: "1000"
  PGID: "1000"
  TZ: Etc/UTC
  WEBUI_PORT: "8080"
  TORRENTING_PORT: "6881"
ports:
  6881/tcp: 6881
  6881/udp: 6881
  8080/tcp: 8080
ingress: true
ingress_port: 8080
usb: true
map:
  - addon_config:rw
  # - config:rw
  - media:rw
  # - downloads:rw
# password: 6QqCkDReY
